.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0.5em;
}
    
.beeIconFacingRight{
    display: flex;
    justify-content: end;
    justify-self: end;
    display: flex;
    align-items: center;

}
.beeIconFacingLeft{
    display: flex;
    justify-content:start;
    justify-self: end;
    display: flex;
    align-items: center;
    
}

.title{
    text-align: center;
    font-size: 3rem;
    color:#cc7b00;
   
}
.subtitle{
    text-align: center;
    font-size: 1.5rem;
    color:#ffa700;
    margin-bottom: 1em;
}
