body {
  font-family: "Nunito Sans", "Segoe UI", sans-serif;
}

input {
  background-color: white !important;
}
.MuiInputBase-root {
  background-color: white !important;
}

.layout {
  display: flex;
}

.routes {
  flex-grow: 1.5;
}

body {
  background: url("Bee6.png");
  background-color: #fffa5a26;
}
