.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 0.5em;
}

.list-item {
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50%;
}

<<<<<<< HEAD
.title {
  background-color: aqua;
}
=======

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-vertical {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
}
>>>>>>> main


.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-vertical {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
}