.banner {
    margin-bottom: 2em;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -1em;
    width: unset !important;

}

a:visited {
    color: white;
}

.container {
    margin-left:2em;
}

.navbarsplit {
    display: flex;
    justify-content: space-between;
}

